USE [DBCM]
GO
/****** Object:  Table [dbo].[sundry_account]    Script Date: 8/9/2023 5:12:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sundry_account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[currency] [char](3) NULL,
	[account] [char](10) NULL,
	[update_by] [varchar](150) NULL,
	[update_date] [datetime] NULL
) ON [PRIMARY]
GO
