/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2019, 10:11:41 AM
    Author     : AplDev2
*/
/*.infoError {color: #FF0000}
body
{
font: normal 11px Tahoma,sans-serif;
}*/

/*a:active     { color: #009543; font-family: Verdana; font-size: 10px; text-decoration: none}
a:link       { color: #009543; font-family: Verdana; font-size: 10px; text-decoration: none}
a:visited    { color: #009543; font-family: Verdana; font-size: 10px; text-decoration: none}
a            { color: #009543; font-family: Verdana; font-size: 10px; text-decoration: none}
a:hover		 { color: #FF6600; font-family: Verdana; font-size: 10px; text-decoration: none}*/

.mandatory{
/*background-color:#cfe1ff;*/
/*background-color:#e8f0fe;*/
background-color:#ccebf1;
border:1px solid #ccc;
}

.header-title{
text-align:center;
/*width:800px;*/
/*width:1255px;*/
/*width:1295px;*/
background-color:#2e8085;
padding: 2px 0px 2px 0px;
font: bold 11px Tahoma,sans-serif;
height:15px;
color: white;
}

.header-credit{
text-align:center;
/*width:800px;*/
/*width:1255px;*/
/*width:1295px;*/
background-color:#f20505;
padding: 2px 0px 2px 0px;
font: bold 11px Tahoma,sans-serif;
height:15px;
color: white;
}

/*.button {
  background-color: #4CAF50;  Green 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;  Safari 
  transition-duration: 0.4s;
  cursor: pointer;
}*/

/*.button2:hover {
  background-color:#2e8085;
  color: white;
}*/


/*label.optsel{
width:20px;
vertical-align:middle;
text-align:center;
}*/


/*input{
text-transform:uppercase;
padding:0;
font-family: Verdana;
color: #333333;
font-size: 8pt; 
float: left;
margin:2px 5px 2px 2px;

border: 1px solid #000000;
}*/

/*select{
padding:0;
font-family: Verdana;
color: #333333;
font-size: 8pt; 
border: 1px solid #000000;
float: left;
margin:2px 5px 2px 2px;
}*/
/*
textarea{
padding:0;
font-family: Verdana;
color: #333333;
font-size: 8pt; 
border: 1px solid #000000;
}
*/
/*.occ_tbl{
background-color:#CCCCCC;
}*/

/*.occ_cld{
background-color:#EAF6D5;
}*/

/*input[disabled=true], textarea[disabled=true], select[disabled=true] {
padding:0;
font-family: Verdana;
color: #333333;
font-size: 8pt; 
border: 1px solid #000000;
}*/

/*textarea{
vertical-align:top;
overflow:scroll;
float: left;
margin:2px 5px 2px 2px;
}*/
/*td{
vertical-align:top;
}*/

/*label{
width:120px;
display:block;
float:left;
margin:2px 0px 2px 0px;
font: normal 11px Tahoma,sans-serif;
vertical-align:middle;
min-height:20px;
}*/

/*label.optsel{
width:20px;
vertical-align:middle;
text-align:center;
}*/

/*.menu{
display:block;
width:800px;
background-color:#FFFFFF;
overflow:none;
}*/

/*.header-title{
text-align:center;
width:800px;
background-color:#CCCCCC;
padding: 2px 0px 2px 0px;
font: bold 11px Tahoma,sans-serif;
height:20px;
}*/


/*.aktif{
display:block; 
overflow:hidden;
width:800px;
background-color:#FFFFFF;
padding: 2px 2px 2px 2px;
vertical-align:middle;
}*/

/*.non-aktif{
display:none; overflow:hidden;
}*/

/*sequence*/
/*.aktif1{
display:inline; overflow:hidden;
}*/

/*.non-aktif1{
display:none; overflow:hidden;
}*/

/*.mt_tag{
display:block;
width:800px;
padding:0px 0px 0px 0px;
overflow:hidden;
margin:2px 6px 6px 2px;
}*/


/*.mt_detil{
width:700px;
margin-left:2px;
overflow:hidden;
float:left;
}*/

/*.nocek{
padding-left:27px;
width:95px;
}*/

/*.mt_header{
float:left;
}*/


/*br {
clear:both;
margin:0 0 0 0;
height:0;
}*/

/*.clear {
clear:both;
margin:0 0 0 0;
}*/

	
/*.occ_header{
background-color:#CCCCCC;
width:750px;
display:block;
height:25px;
margin: 0 0 0 20px;
overflow:hidden;
border: 1px solid #666666;
vertical-align:middle;
text-align:center;
}*/
/*.occ_header .title{
float:left;
width:650px;
display:block;
text-align:center;
font-weight:bold;
height:inherit;
vertical-align:middle;
height:20px;
}*/
/*.occ_header .button{
float:right;
width:90px;
border:1px #000000 solid;
background-color:#FFFFFF;
display:inline;
height:inherit;
vertical-align:middle;
height:20px;
}*/
/*.occ{
width:inherit;
display:block;
padding-left:20px;
}*/
/*.occ_detil{
width:750px;
display:block;
background-color:#EAF6D5;
border: 1px solid #666666;
margin: 0 0 10px 20px;
overflow:hidden;
border-top: 0px none;
}*/
/*.occ_label{
padding-left:27px;
width:600px;
}*/
/*new dalam new*/
/*.acc_header{
background-color:#CCCCCC;
width:650px;
display:block;
height:25px;
margin: 0 0 0 20px;
overflow:hidden;
border: 1px solid #666666;
vertical-align:middle;
text-align:center;
}*/
/*.acc_header .title2{
float:left;
width:550px;
display:block;
text-align:center;
font-weight:bold;
height:inherit;
vertical-align:middle;
height:20px;
}*/
/*.acc_header .button2{
float:right;
width:90px;
border:1px #000000 solid;
background-color:#FFFFFF;
display:inline;
height:inherit;
vertical-align:middle;
height:20px;
}*/
/*.acc{
width:inherit;
display:block;
padding-left:20px;
}*/
/*.acc_detil{
width:650px;
display:block;
background-color:#EAF6D5;
border: 1px solid #666666;
margin: 0 0 10px 20px;
overflow:hidden;
border-top: 0px none;
}*/
/*.acc_label{
padding-left:27px;
width:500px;
}*/
/*new dalam new dalam new*/
/*.ecc_header{
background-color:#CCCCCC;
width:550px;
display:block;
height:25px;
margin: 0 0 0 20px;
overflow:hidden;
border: 1px solid #666666;
vertical-align:middle;
text-align:center;
}*/
/*.ecc_header .title3{
float:left;
width:450px;
display:block;
text-align:center;
font-weight:bold;
height:inherit;
vertical-align:middle;
height:20px;
}*/
/*.ecc_header .button3{
float:right;
width:90px;
border:1px #000000 solid;
background-color:#FFFFFF;
display:inline;
height:inherit;
vertical-align:middle;
height:20px;
}*/
/*.ecc{
width:inherit;
display:block;
padding-left:20px;
}*/
/*.ecc_detil{
width:550px;
display:block;
background-color:#EAF6D5;
border: 1px solid #666666;
margin: 0 0 10px 20px;
overflow:hidden;
border-top: 0px none;
}*/
/*.ecc_label{
padding-left:27px;
width:400px;
}*/
/*new dalam new dalam new dalam new*/
/*.icc_header{
background-color:#CCCCCC;
width:450px;
display:block;
height:25px;
margin: 0 0 0 20px;
overflow:hidden;
border: 1px solid #666666;
vertical-align:middle;
text-align:center;
}*/
/*.icc_header .title4{
float:left;
width:350px;
display:block;
text-align:center;
font-weight:bold;
height:inherit;
vertical-align:middle;
height:20px;
}*/
/*.icc_header .button4{
float:right;
width:90px;
border:1px #000000 solid;
background-color:#FFFFFF;
display:inline;
height:inherit;
vertical-align:middle;
height:20px;
}*/
/*.icc{
width:inherit;
display:block;
padding-left:20px;
}*/
/*.icc_detil{
width:450px;
display:block;
background-color:#EAF6D5;
border: 1px solid #666666;
margin: 0 0 10px 20px;
overflow:hidden;
border-top: 0px none;
}*/
/*.icc_label{
padding-left:27px;
width:300px;
}*/
/*.enable{
display:block;
}*/
/*.disable{
display:none;
}*/



/*==================acordion=========================== */
/*.arrowlistmenu{
width: 120px; width of accordion menu
}*/

/*.arrowlistmenu .menuheader{ CSS class for menu headers in general (expanding or not!)
font: bold 10px Arial;
color: black;
background: #cccccc;
margin-bottom: 0px; bottom spacing between header and rest of content
text-transform: uppercase;
padding: 4px 0 4px 4px; header text is indented 10px
cursor: hand;
cursor: pointer;
}*/

/*.arrowlistmenu .openheader{ CSS class to apply to expandable header when it's expanded
background-image: url(titlebar-active.png);
}*/

/*.arrowlistmenu ul{ CSS for UL of each sub menu
list-style-type: none;
margin: 0;
padding: 0;
margin-bottom: 0px; bottom spacing between each UL and rest of content
}*/

/*.arrowlistmenu ul li{
padding-bottom: 0px; bottom spacing between menu items
}*/

/*.arrowlistmenu ul li .opensubheader{ Open state CSS for sub menu header
background: lightblue !important;
}*/

/*.arrowlistmenu ul li .closedsubheader{ Closed state CSS for sub menu header
background: lightgreen !important;
}*/

/*.arrowlistmenu ul li a{
color: #000000;
background: url(arrowbullet.png) no-repeat center left; custom bullet list image
display: block;
padding: 2px 0;
padding-left: 19px; link text is indented 19px
text-decoration: none;
border-bottom: 1px solid #dadada;
font-size: 12px;
}*/

/*.arrowlistmenu ul li a:visited{
color: #A70303;
}*/

/*.arrowlistmenu ul li a:hover{ hover state CSS
background-color: #F3F3F3;
}*/

/*.arrowlistmenu ul li a.subexpandable:hover{ hover state CSS for sub menu header
background: lightblue;
}*/





/* pop up window */
/*.dhtmlwindow{
position: absolute;
border: 2px solid black;
visibility: hidden;
background-color: white;
}*/

/*.drag-handle{ CSS for Drag Handle
padding: 1px;
text-indent: 3px;
font: bold 14px Arial;
background-color: #CA0000;
color: white;
cursor: move;
overflow: hidden;
width: auto;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}*/

/*.drag-handle .drag-controls{ CSS for controls (min, close etc) within Drag Handle
position: absolute;
right: 1px;
top: 2px;
cursor: hand;
cursor: pointer;
}*/

/** html .drag-handle{ IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render
width: 100%;
}*/


/*.drag-contentarea{ CSS for Content Display Area div
border-top: 1px solid brown;
background-color: white;
color: black;
height: 150px;
padding: 2px;
overflow: auto;
}*/

/*.drag-contentarea a:active     	{ color: #ff0000; font-family: Verdana; font-size: 10px; text-decoration: none}
.drag-contentarea a:link       	{ color: #ff0000; font-family: Verdana; font-size: 10px; text-decoration: none}
.drag-contentarea a:visited    	{ color: #ff0000; font-family: Verdana; font-size: 10px; text-decoration: none}
.drag-contentarea a         	{ color: #ff0000; font-family: Verdana; font-size: 10px; text-decoration: none}
.drag-contentarea a:hover		{ color: #000000; font-family: Verdana; font-size: 10px; text-decoration: none}*/

/*.drag-statusarea{ CSS for Status Bar div (includes resizearea)
border-top: 1px solid gray;
background-color: #F8F8F8;
height: 13px; height of resize image
}*/


/*.drag-resizearea{ CSS for Resize Area itself
float: right;
width: 13px; width of resize image
height: 13px; height of resize image
cursor: nw-resize;
font-size: 0;
}*/