<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SCTest</servlet-name>
        <servlet-class>com.vensys.appcm.resources.SCTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCTest2</servlet-name>
        <servlet-class>com.vensys.appcm.resources.controller.SCTest2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControllerUserData</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCHeaders</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCHeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControllerDataTransaksiOutgoing</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataTransaksiOutgoing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataRoleList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataRoleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassword</servlet-name>
        <servlet-class>com.vensys.appcm.controller.ResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCArchive</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCArchive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCBIC</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCBIC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCBICApprovalList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCBICApprovalList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VBICApproval</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VBICApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCBICApproval</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCBICApproval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCApproveBIC</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCApproveBIC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCRejectBIC</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCRejectBIC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SCFIA</servlet-name>
        <url-pattern>/SCFIA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCFIAPath</servlet-name>
        <url-pattern>/SCFIAPath</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SCBICList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCBICList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SCFIAList</servlet-name>
        <url-pattern>/SCFIAList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletControllerChangeUserData</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCChangeUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataAccBalance</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataAccBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataAccPenagihan</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataAccPenagihan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataAccPenagihanList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataAccPenagihanList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataBalanceList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataBalanceList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataBICGo</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataBICGo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataBICGoList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataBICGoList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataCharges</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataCharges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataChargesList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataChargesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataFeeRemit</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataFeeRemit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataFeeRemitList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataFeeRemitList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataMT</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataMT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataMTList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataMTList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataNostro</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataNostro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataNostroList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataNostroList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataRole</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataSwiftLimit</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataSwiftLimit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataSwiftLimitList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataSwiftLimitList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataTransaksi199</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataTransaksi199</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataTransaksi299</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataTransaksi299</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControllerDataTransaksiIncoming</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataTransaksiIncoming</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataUser</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataUserList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataVerAccList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataVerAccList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataVerifiedAcc</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataVerifiedAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataVostro</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataVostro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataVostroList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataVostroList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDayOff</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDayOff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDayOffList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDayOffList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDuplicate</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDuplicate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletControllerLogout</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCNegaraSuspect</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCNegaraSuspect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCNegaraSuspectList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCNegaraSuspectList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPasswordSetting</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPasswordSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPasswordSettingList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPasswordSettingList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintCSV</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintCSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintMTDoc</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintMTDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintMXDoc</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintMXDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintNota</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintNota</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintPDF</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintRecon</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintRecon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintRole</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintRTF</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintRTF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintUser</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintUserActivity</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintUserActivity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintUserLogin</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintUserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCPrintXLS</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCPrintXLS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCReject</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCReject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCRejectAction</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCRejectAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCRejectView</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCRejectView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCResetPassword</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCResetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCRestore</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCRestore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCRetur</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCRetur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCSandiKliring</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCSandiKliring</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCSandiKliringList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCSandiKliringList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCSTPLimit</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCSTPLimit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCSTPLimitList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCSTPLimitList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCUpload</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCUploadBranch</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCUploadBranch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCUploadConfirmation</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCUploadConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCUploadConfirmationtoFile</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCUploadConfirmationtoFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCUploadSwiftGo</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCUploadSwiftGo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VBIC</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VBIC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VFIA</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VFIA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VFIAPath</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VFIAPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataAccBalance</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataAccBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataAccPenagih</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataAccPenagih</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataCharges</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataCharges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataFeeRemit</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataFeeRemit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataMT</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataMT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataNegara</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataNegara</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataNostro</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataNostro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataRole</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataRole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataSwiftGo</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataSwiftGo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataSwiftLimit</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataSwiftLimit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDataTransaksiOutgoing</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataTransaksiOutgoing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataUser</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataVerifiedAcc</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataVerifiedAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataVostro</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataVostro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VPasswordSetting</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VPasswordSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VSandiKliring</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VSandiKliring</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VSTPLimit</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VSTPLimit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataCOT</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataCOT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataCutOffList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataCutOffList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataCounterRateList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataCounterRateList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataCounterRate</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataCounterRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VDataCounterRate</servlet-name>
        <servlet-class>com.vensys.appcm.controller.VDataCounterRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCounterrate</servlet-name>
        <servlet-class>com.vensys.appcm.controller.UploadCounterrate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDashBoardTransactions</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDashBoardTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCNostroListReconcile</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCNostroListReconcile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCGeneralSetting</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCGeneralSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCInvesitvationOutgoing103</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCInvesitvationOutgoing103</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCHeaderTemplate</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCHeaderTemplate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataTransaksiOutgoingMX</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataTransaksiOutgoingMX</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataDisablePermanentRoleList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataDisablePermanentRoleList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCDataUserDisable</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCDataUserDisable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SCDashBoardTransactions</servlet-name>
        <url-pattern>/SCDashBoardTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCounterrate</servlet-name>
        <url-pattern>/UploadCounterrate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataCounterRateList</servlet-name>
        <url-pattern>/CounterRateList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataCounterRate</servlet-name>
        <url-pattern>/SCDataCounterRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataCounterRate</servlet-name>
        <url-pattern>/VDataCounterRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataCutOffList</servlet-name>
        <url-pattern>/SCDataCutOffList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCTest</servlet-name>
        <url-pattern>/SCTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCTest2</servlet-name>
        <url-pattern>/SCTest2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControllerUserData</servlet-name>
        <url-pattern>/ServletControllerUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCHeaders</servlet-name>
        <url-pattern>/controllerHeaders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControllerDataTransaksiOutgoing</servlet-name>
        <url-pattern>/ServletControllerDataTransaksiOutgoing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataRoleList</servlet-name>
        <url-pattern>/SCDataRoleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassword</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>SCArchive</servlet-name>
        <url-pattern>/SCArchive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCBIC</servlet-name>
        <url-pattern>/SCBIC</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SCFIA</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCFIA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCFIAPath</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCFIAPath</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SCBICList</servlet-name>
        <url-pattern>/SCBICList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SCFIAList</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCFIAList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletControllerChangeUserData</servlet-name>
        <url-pattern>/ServletControllerChangeUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataAccBalance</servlet-name>
        <url-pattern>/SCDataAccBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataAccPenagihan</servlet-name>
        <url-pattern>/SCDataAccPenagihan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataAccPenagihanList</servlet-name>
        <url-pattern>/SCDataAccPenagihanList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataBalanceList</servlet-name>
        <url-pattern>/SCDataBalanceList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataBICGo</servlet-name>
        <url-pattern>/SCDataBICGo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataBICGoList</servlet-name>
        <url-pattern>/SCDataBICGoList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataCharges</servlet-name>
        <url-pattern>/SCDataCharges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataChargesList</servlet-name>
        <url-pattern>/SCDataChargesList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataFeeRemit</servlet-name>
        <url-pattern>/SCDataFeeRemit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataFeeRemitList</servlet-name>
        <url-pattern>/SCDataFeeRemitList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataMT</servlet-name>
        <url-pattern>/SCDataMT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataMTList</servlet-name>
        <url-pattern>/SCDataMTList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataNostro</servlet-name>
        <url-pattern>/SCDataNostro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataNostroList</servlet-name>
        <url-pattern>/SCDataNostroList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataRole</servlet-name>
        <url-pattern>/SCDataRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataSwiftLimit</servlet-name>
        <url-pattern>/SCDataSwiftLimit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataSwiftLimitList</servlet-name>
        <url-pattern>/SCDataSwiftLimitList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataTransaksi199</servlet-name>
        <url-pattern>/SCDataTransaksi199</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataTransaksi299</servlet-name>
        <url-pattern>/SCDataTransaksi299</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControllerDataTransaksiIncoming</servlet-name>
        <url-pattern>/ServletControllerDataTransaksiIncoming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataUser</servlet-name>
        <url-pattern>/SCDataUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataUserList</servlet-name>
        <url-pattern>/SCDataUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataVerAccList</servlet-name>
        <url-pattern>/SCDataVerAccList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataVerifiedAcc</servlet-name>
        <url-pattern>/SCDataVerifiedAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataVostro</servlet-name>
        <url-pattern>/SCDataVostro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataVostroList</servlet-name>
        <url-pattern>/SCDataVostroList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDayOff</servlet-name>
        <url-pattern>/SCDayOff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDayOffList</servlet-name>
        <url-pattern>/SCDayOffList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDuplicate</servlet-name>
        <url-pattern>/SCDuplicate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletControllerLogout</servlet-name>
        <url-pattern>/ServletControllerLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCNegaraSuspect</servlet-name>
        <url-pattern>/SCNegaraSuspect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCNegaraSuspectList</servlet-name>
        <url-pattern>/SCNegaraSuspectList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPasswordSetting</servlet-name>
        <url-pattern>/SCPasswordSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPasswordSettingList</servlet-name>
        <url-pattern>/SCPasswordSettingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataCOT</servlet-name>
        <url-pattern>/VDataCOT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintCSV</servlet-name>
        <url-pattern>/SCPrintCSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintMTDoc</servlet-name>
        <url-pattern>/SCPrintMTDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintMXDoc</servlet-name>
        <url-pattern>/SCPrintMXDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintNota</servlet-name>
        <url-pattern>/SCPrintNota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintPDF</servlet-name>
        <url-pattern>/SCPrintPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintRecon</servlet-name>
        <url-pattern>/SCPrintRecon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintRole</servlet-name>
        <url-pattern>/SCPrintRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintRTF</servlet-name>
        <url-pattern>/SCPrintRTF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintUser</servlet-name>
        <url-pattern>/SCPrintUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintUserActivity</servlet-name>
        <url-pattern>/SCPrintUserActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintUserLogin</servlet-name>
        <url-pattern>/SCPrintUserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCPrintXLS</servlet-name>
        <url-pattern>/SCPrintXLS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCReject</servlet-name>
        <url-pattern>/SCReject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCRejectAction</servlet-name>
        <url-pattern>/SCRejectAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCRejectView</servlet-name>
        <url-pattern>/SCRejectView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCResetPassword</servlet-name>
        <url-pattern>/SCResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCRestore</servlet-name>
        <url-pattern>/SCRestore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCRetur</servlet-name>
        <url-pattern>/SCRetur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCSandiKliring</servlet-name>
        <url-pattern>/SCSandiKliring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCSandiKliringList</servlet-name>
        <url-pattern>/SCSandiKliringList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCSTPLimit</servlet-name>
        <url-pattern>/SCSTPLimit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCSTPLimitList</servlet-name>
        <url-pattern>/SCSTPLimitList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCUpload</servlet-name>
        <url-pattern>/SCUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCUploadBranch</servlet-name>
        <url-pattern>/SCUploadBranch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCUploadConfirmation</servlet-name>
        <url-pattern>/SCUploadConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCUploadConfirmationtoFile</servlet-name>
        <url-pattern>/SCUploadConfirmationtoFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCUploadSwiftGo</servlet-name>
        <url-pattern>/SCUploadSwiftGo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VBIC</servlet-name>
        <url-pattern>/VBIC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VFIA</servlet-name>
        <url-pattern>/VFIA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VFIAPath</servlet-name>
        <url-pattern>/VFIAPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataAccBalance</servlet-name>
        <url-pattern>/VDataAccBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataAccPenagih</servlet-name>
        <url-pattern>/VDataAccPenagih</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataCharges</servlet-name>
        <url-pattern>/VDataCharges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataFeeRemit</servlet-name>
        <url-pattern>/VDataFeeRemit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataMT</servlet-name>
        <url-pattern>/VDataMT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataNegara</servlet-name>
        <url-pattern>/VDataNegara</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataNostro</servlet-name>
        <url-pattern>/VDataNostro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataRole</servlet-name>
        <url-pattern>/VDataRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataSwiftGo</servlet-name>
        <url-pattern>/VDataSwiftGo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataSwiftLimit</servlet-name>
        <url-pattern>/VDataSwiftLimit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDataTransaksiOutgoing</servlet-name>
        <url-pattern>/ViewDataTransaksiOutgoing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataUser</servlet-name>
        <url-pattern>/VDataUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataVerifiedAcc</servlet-name>
        <url-pattern>/VDataVerifiedAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VDataVostro</servlet-name>
        <url-pattern>/VDataVostro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VPasswordSetting</servlet-name>
        <url-pattern>/VPasswordSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VSandiKliring</servlet-name>
        <url-pattern>/VSandiKliring</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VSTPLimit</servlet-name>
        <url-pattern>/VSTPLimit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCNostroListReconcile</servlet-name>
        <url-pattern>/SCNostroListReconcile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCGeneralSetting</servlet-name>
        <url-pattern>/SCGeneralSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCInvesitvationOutgoing103</servlet-name>
        <url-pattern>/SCInvesitvationOutgoing103</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SCNotification</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCNotification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCUploadBIC</servlet-name>
        <servlet-class>com.vensys.appcm.controller.SCUploadBIC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SCUploadBIC</servlet-name>
        <url-pattern>/SCUploadBIC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCHeaderTemplate</servlet-name>
        <url-pattern>/ControllerHeaderTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataTransaksiOutgoingMX</servlet-name>
        <url-pattern>/SCDataTransaksiOutgoingMX</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataDisablePermanentRoleList</servlet-name>
        <url-pattern>/SCDataDisablePermanentRoleList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCDataUserDisable</servlet-name>
        <url-pattern>/SCDataUserDisable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCBICApprovalList</servlet-name>
        <url-pattern>/SCBICApprovalList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VBICApproval</servlet-name>
        <url-pattern>/VBICApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCBICApproval</servlet-name>
        <url-pattern>/SCBICApproval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCApproveBIC</servlet-name>
        <url-pattern>/SCApproveBIC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCRejectBIC</servlet-name>
        <url-pattern>/SCRejectBIC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>mappedfile</param-name>
            <param-value>false</param-value>
        </init-param>
        <!--<load-on-startup>3</load-on-startup>-->
    </servlet>
</web-app>
